//@media all and (min-width: 600px)
@media all and (min-width: 800px)
	.header
		order 1
	.header-logo
		order 1
		flex 1
	.header-menu
		order 2
		flex 3
	.menusuperior
		display block
	.main
		flex 3
		order 2
	.aside-1
		order 1
		flex 1
	.main
		order 2
	.footer
		order 3
	.footer-izquierda
		order 1
		flex 1
	.footer-derecha
		order 2
		flex 1
		text-align: right