doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
		block titulo
		title Historia - El Mejor Cafe Peruano - Cafe Valenzuela - Arequipa Peru
		link(rel="shortcut icon" href="img/favicon.ico")
		link(href="css/index.css", rel="stylesheet")
	body
		.wrapper
			header.header
				.header-logo.center
					img(src="img/logo.png", class="logo")
				.header-menu
					nav
						ul.menusuperior
							li
								a(href="index.html") Inicio
							li
								a(href="quienes-somos.html") Quiene somos
							li
								a(href="historia.html") Historia
							li
								a(href="productos.html") Productos
							li
								a(href="ubicacion.html") Ubicación
			article.main
				h1 Historia
				.content-text
					p Café Valenzuela empresa líder en la Industrialización del café en nuestra ciudad de Arequipa – Perú. Valenzuela Vargas es el fundador del Café Valenzuela, reconocida empresa que produce desde 1950 café tostado y molido  a inicios del mes de enero del año 1992, comenzamos con el proceso del tostado de pasta pura de cacao, para la producción del chocolate de taza y la producción de granos orgánicos .La primera planta para tostar los granos funcionaba en el Portal de Flores.
					p Es por esta razón que el día 08 de enero del 2000 cumplimos 50 años de estar a la vanguardia en la industria del café y a los mejores granos orgánicos y por supuesto gourmet del Perú. 
					p Fue durante 1969, que nuestra marca Café Valenzuela formaba parte de los arequipeños regionalistas, y a mi padre, les sugirieron  que la plasmara en alguna parte de la ciudad como símbolo de producto  de arequipeños regionalistas y luego de un sueño vio nuestra marca pintada en un cerro de la ciudad, fue entonces que el señor patriarca de la familia Valenzuela lo hizo realidad a los pocos meses. Actualmente los turistas al llegar a nuestra ciudad blanca, fácilmente visualizan nuestra marca en el cerro ubicado en tingo grande en el distrito de Hunter
			aside.aside.aside-1
				nav
					h2.center PRODUCTOS
					ul.listaproductos
						li
							a(href="productos.html") Cafetaleras
						li
							a(href="productos.html") Cafe Produccion Y Venta
						li
							a(href="productos.html") Venta De Cafes
						li
							a(href="productos.html") Chocolates En Crema
						li
							a(href="productos.html") Cafes De Peru
						li
							a(href="productos.html") Distribuciones De Cafe
						li
							a(href="productos.html") Pasta De Cacao
						li
							a(href="productos.html") Molido De Cafe
						li
							a(href="productos.html") Cafe Molido
						li
							a(href="productos.html") Cafe Tostado
						li
							a(href="productos.html") Cafe De Peru
						li
							a(href="productos.html") Cafes Venta
						li
							a(href="productos.html") Comercializacion De Cafes
						li
							a(href="productos.html") Elaboracion De Cafes
						li
							a(href="productos.html") Cafe Pasado
						li
							a(href="productos.html") Venta De Grano De Cafe
						li
							a(href="productos.html") Caficulturas
						li
							a(href="productos.html") Preparacion de postres variados
						li
							a(href="productos.html") Preparacion  de jugos con frutas Naturales
			footer.footer
				.footer-izquierda.left
					ul
						h2 Ubicación
						ul.listaubicacion
							li Gral.Moran114-cercado
							li Galerías Gamesa local 3 cercado
							li Calle Piérola 108, Gral.Heresi Tda.12-cercado
							li Av. EE.UU .P Diez Canseco Y-18 J.L.B y Ribero
							li Parque Labramani 2do .Piso (costado patio de comidas)
				.footer-derecha.right
					a(href="https://facebook.com/" target="_blank" class="icon-facebook4 tamanioredes")
					a(href="https://twitter.com/" target="_blank" class="icon-twitter15 tamanioredes")
					a(href="https://youtube.com/" target="_blank" class="icon-youtube26 tamanioredes")
	script(src="js/index.js")