!!! 5
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
		block titulo
			title El Mejor Cafe Peruano - Cafe Valenzuela - Arequipa Peru
		link(rel="shortcut icon" href="img/favicon.ico")
		link(href="https://fontastic.s3.amazonaws.com/cdnpVj3af8hXyyBm9E5qZ8/icons.css", rel="stylesheet")
		link(href="css/index.css", rel="stylesheet")
	body
		.wrapper
			header.header
				.header-logo.center
					img(src="img/logo.png", class="logo")
				.header-menu
					nav
						ul.menusuperior
							li
								a(href="") Inicio
							li
								a(href="") Quiene somos
							li
								a(href="") Historia
							li
								a(href="") Productos
							li
								a(href="") Ubicación
			article.main
				#slider
					figure
						img(src="img/fondo1.jpg")
						img(src="img/fondo2.jpg")
						img(src="img/fondo3.jpg")
						img(src="img/fondo2.jpg")
			aside.aside.aside-1
				nav
					h2.center PRODUCTOS
					ul.listaproductos
						li
							a(url="#") Cafetaleras
						li
							a(url="#") Cafe Produccion Y Venta
						li
							a(url="#") Venta De Cafes
						li
							a(url="#") Chocolates En Crema
						li
							a(url="#") Cafes De Peru
						li
							a(url="#") Distribuciones De Cafe
						li
							a(url="#") Pasta De Cacao
						li
							a(url="#") Molido De Cafe
						li
							a(url="#") Cafe Molido
						li
							a(url="#") Cafe Tostado
						li
							a(url="#") Cafe De Peru
						li
							a(url="#") Cafes Venta
						li
							a(url="#") Comercializacion De Cafes
						li
							a(url="#") Elaboracion De Cafes
						li
							a(url="#") Cafe Pasado
						li
							a(url="#") Venta De Grano De Cafe
						li
							a(url="#") Caficulturas
						li
							a(url="#") Preparacion de postres variados
						li
							a(url="#") Preparacion  de jugos con frutas Naturales
			footer.footer
				.footer-izquierda.left
					ul
						h2 Ubicación
						ul.listaubicacion
							li Gral.Moran114-cercado
							li Galerías Gamesa local 3 cercado
							li Calle Piérola 108, Gral.Heresi Tda.12-cercado
							li Av. EE.UU .P Diez Canseco Y-18 J.L.B y Ribero
							li Parque Labramani 2do .Piso (costado patio de comidas)
				.footer-derecha.right
					a(href="https://facebook.com/" target="_blank" class="icon-facebook4 tamanioredes")
					a(href="https://twitter.com/" target="_blank" class="icon-twitter15 tamanioredes")
					a(href="https://youtube.com/" target="_blank" class="icon-youtube26 tamanioredes")
	script(src="js/index.js")
html