doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
		block titulo
		title Productos - El Mejor Cafe Peruano - Cafe Valenzuela - Arequipa Peru
		link(rel="shortcut icon" href="img/favicon.ico")
		link(href="css/index.css", rel="stylesheet")
	body
		.wrapper
			header.header
				.header-logo.center
					img(src="img/logo.png", class="logo")
				.header-menu
					nav
						ul.menusuperior
							li
								a(href="index.html") Inicio
							li
								a(href="quienes-somos.html") Quiene somos
							li
								a(href="historia.html") Historia
							li
								a(href="productos.html") Productos
							li
								a(href="ubicacion.html") Ubicación
			article.main
				h1 Productos
				ul.lista-productos
					li
						span.titulo Cafetaleras
						figure
							img(src="img/producto_01.jpg")
						span.precio S/. 10
					li
						span.titulo Cafe Produccion Y Venta
						figure
							img(src="img/producto_01.jpg")
						span.precio S/. 15
					li
						span.titulo Venta De Cafes
						figure
							img(src="img/producto_01.jpg")
						span.precio S/. 20
					li
						span.titulo Chocolates En Crema
						figure
							img(src="img/producto_01.jpg")
						span.precio S/. 25
					li
						span.titulo Cafes De Peru
						figure
							img(src="img/producto_01.jpg")
						span.precio S/. 30
					li
						span.titulo Distribuciones De Cafe
						figure
							img(src="img/producto_01.jpg")
						span.precio S/. 35
					li
						span.titulo Pasta De Cacao
						figure
							img(src="img/producto_01.jpg")
						span.precio S/. 40
					li
						span.titulo Molido De Cafe
						figure
							img(src="img/producto_01.jpg")
						span.precio S/. 45
					li
						span.titulo Cafe Molido
						figure
							img(src="img/producto_01.jpg")
						span.precio S/. 50
					li
						span.titulo Cafe Tostado
						figure
							img(src="img/producto_01.jpg")
						span.precio S/. 55
					li
						span.titulo Cafe De Peru
						figure
							img(src="img/producto_01.jpg")
						span.precio S/. 60
					li
						span.titulo Cafes Venta
						figure
							img(src="img/producto_01.jpg")
						span.precio S/. 65
					li
						span.titulo Comercializacion De Cafes
						figure
							img(src="img/producto_01.jpg")
						span.precio S/. 70
					li
						span.titulo Elaboracion De Cafes
						figure
							img(src="img/producto_01.jpg")
						span.precio S/. 75
					li
						span.titulo Cafe Pasado
						figure
							img(src="img/producto_01.jpg")
						span.precio S/. 80
					li
						span.titulo Venta De Grano De Cafe
						figure
							img(src="img/producto_01.jpg")
						span.precio S/. 85
					li
						span.titulo Caficulturas
						figure
							img(src="img/producto_01.jpg")
						span.precio S/. 90
					li
						span.titulo Preparacion de postres variados
						figure
							img(src="img/producto_01.jpg")
						span.precio S/. 95
					li
						span.titulo Preparacion  de jugos con frutas Naturales
						figure
							img(src="img/producto_01.jpg")
						span.precio S/. 100
			aside.aside.aside-1
				nav
					h2.center PRODUCTOS
					ul.listaproductos
						li
							a(href="productos.html") Cafetaleras
						li
							a(href="productos.html") Cafe Produccion Y Venta
						li
							a(href="productos.html") Venta De Cafes
						li
							a(href="productos.html") Chocolates En Crema
						li
							a(href="productos.html") Cafes De Peru
						li
							a(href="productos.html") Distribuciones De Cafe
						li
							a(href="productos.html") Pasta De Cacao
						li
							a(href="productos.html") Molido De Cafe
						li
							a(href="productos.html") Cafe Molido
						li
							a(href="productos.html") Cafe Tostado
						li
							a(href="productos.html") Cafe De Peru
						li
							a(href="productos.html") Cafes Venta
						li
							a(href="productos.html") Comercializacion De Cafes
						li
							a(href="productos.html") Elaboracion De Cafes
						li
							a(href="productos.html") Cafe Pasado
						li
							a(href="productos.html") Venta De Grano De Cafe
						li
							a(href="productos.html") Caficulturas
						li
							a(href="productos.html") Preparacion de postres variados
						li
							a(href="productos.html") Preparacion  de jugos con frutas Naturales
			footer.footer
				.footer-izquierda.left
					ul
						h2 Ubicación
						ul.listaubicacion
							li Gral.Moran114-cercado
							li Galerías Gamesa local 3 cercado
							li Calle Piérola 108, Gral.Heresi Tda.12-cercado
							li Av. EE.UU .P Diez Canseco Y-18 J.L.B y Ribero
							li Parque Labramani 2do .Piso (costado patio de comidas)
				.footer-derecha.right
					a(href="https://facebook.com/" target="_blank" class="icon-facebook4 tamanioredes")
					a(href="https://twitter.com/" target="_blank" class="icon-twitter15 tamanioredes")
					a(href="https://youtube.com/" target="_blank" class="icon-youtube26 tamanioredes")
	script(src="js/index.js")